@page "/employeedetail/{id}"

<h1>Detail Employees</h1>
<ul>
    <li><h3>Employees Id: @Employee.EmployeeId</h3></li>
    <li><h3>Employees First Name: @Employee.FirstName</h3></li>
    <li><h3>Employees Last Name: @Employee.LastName</h3></li>
    <li><h3>Employees DateOfBirth: @Employee.DateOfBirth</h3></li>
    <li><h3>Employees Gender: @Employee.Gender</h3></li>
    <li><h3>Employees PhotoPath: @Employee.PhotoPath</h3></li>
    <li><h3>Employees Department ID: @Employee.DepartmentId</h3></li>'
    <li><h3>Employees Department Name: @Employee.Department.DepartmentName</h3></li>
</ul>


